@model IEnumerable<AMS.Models.STK_Item>

@{
  
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>

    <!--  Navbar Starts / Breadcrumb Area  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
                <i class="las la-bars"></i>
            </a>
            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">
                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Product</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span>Product List</span></li>
                            </ol>
                        </nav>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav d-flex align-center ml-auto right-side-filter">
                <li class="nav-item more-dropdown">
                    <div class="input-group input-group-sm">
                        <input id="rangeCalendarFlatpickr" class="form-control flatpickr flatpickr-input active" type="text" placeholder="Select Date">
                        <div class="input-group-append">
                            <span class="input-group-text bg-primary border-primary" id="basic-addon2">
                                <i class="lar la-calendar"></i>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="nav-item more-dropdown">
                    <a href="javascript: void(0);" data-original-title="Reload Data" data-placement="bottom" class="btn btn-primary dash-btn btn-sm ml-2 bs-tooltip">
                        <i class="las la-sync"></i>
                    </a>
                </li>
                <li class="nav-item custom-dropdown-icon">
                    <a href="javascript: void(0);" data-original-title="Filter" data-placement="bottom" id="customDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dash-btn btn-sm ml-2 bs-tooltip">
                        <i class="las la-filter"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="customDropdown">
                        <a class="dropdown-item" data-value="Filter 1" href="javascript:void(0);">Filter 1</a>
                        <a class="dropdown-item" data-value="Filter 2" href="javascript:void(0);">Filter 2</a>
                        <a class="dropdown-item" data-value="Filter 3" href="javascript:void(0);">Filter 3</a>
                    </div>
                </li>
            </ul>
        </header>
    </div>
    <div class="layout-px-spacing">
        <div class="layout-top-spacing mb-2">
            <div class="col-md-12">
                <div class="row">
                    <div class="container p-0">
                        <div class="row layout-top-spacing">
                            <div> <a href="~/Item/AddItem" class="btn btn-primary btn-rounded"> Add Product </a></div>

                            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                <div class="widget-content widget-content-area br-6">


                                    <div class="table-responsive mb-4">
                                        <table id="basic-dt" class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th> Item Name</th>
                                                    <th> Item Code</th>
                                                    <th> Brand</th>
                                                    <th> Unit</th>
                                                    <th> Min Stock</th>
                                                    <th> DiscountTp</th>
                                                    <th> Discount</th>
                                                    <th> Remarks</th>


                                                    <th class="no-content"></th>
                                                    <th>
                                                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search" title="Customer Id" class="form-control float-right" maxlength="4" size="3">
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.ItemName</td>
                                                        <td>@item.ItemCode</td>
                                                        <td>@item.Brand</td>
                                                        <td>@item.Unit</td>
                                                        <td>@item.MinStock</td>
                                                        <td>@item.DiscountTp</td>
                                                        <td>@item.Discount</td>
                                                        <td>@item.Remarks</td>
                                                        <td><a href="@Url.Action("ItemEdit","Item",new {ID=item.ID})" title="Edit" class="font-20 text-primary"><i class="las la-edit"></i></a></td>
                                                        <td><a href="@Url.Action("ItemDelete","Item",new {ID=item.ID})" title="Delete" class="font-20 text-primary"><i class="lar la-trash-alt text-danger font-20 mr-2"></i></a></td>
                                                    </tr>
                                                }

                                                <script>
                                                    function myFunction() {
                                                        var input, filter, table, tr, td, i, txtValue;
                                                        input = document.getElementById("myInput");
                                                        filter = input.value.toUpperCase();
                                                        table = document.getElementById("basic-dt");
                                                        tr = table.getElementsByTagName("tr");
                                                        for (i = 0; i < tr.length; i++) {
                                                            td = tr[i].getElementsByTagName("td")[0];
                                                            if (td) {
                                                                txtValue = td.textContent || td.innerText;
                                                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                                                    tr[i].style.display = "";
                                                                } else {
                                                                    tr[i].style.display = "none";
                                                                }
                                                            }
                                                        }
                                                    }
                                                </script>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Item Name</th>
                                                    <th>Item Code</th>
                                                    <th>Brand</th>
                                                    <th>Unit</th>
                                                    <th>Min Stock</th>
                                                    <th>DiscountTp</th>
                                                    <th>Discount</th>
                                                    <th>Remarks</th>


                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
